<% if has_posts?(user) %>
  <h2>Posts</h2>
  <%= render user.posts %>
<% else %>
  <h3><%= user.name %> has not submitted any posts yet.</h3>
<% end %>

<% if has_comments?(user) %>
  <h2>Comments</h2>
  <%= render user.comments %>
<% else %>
  <% if has_posts?(user) %>
    <h3><%= user.name %> has not submitted any comments yet.</h3>
  <% else %>
    <h3>They haven't submitted any comments yet, either.</h3>
  <% end %>
<% end %>
