<h1>About Bloccit</h1>
<P>Created by: Matt Woldenberg</p>

<h2 class='social-btn' id='ring-dinger'><a href="https://plus.google.com/u/0/112940305811914118732"><strong>Sharing is Caring?</strong> A Time-Waste Management Enterprise</a></h2>
